body {
	margin: 0;
}
header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color : #E86251;
	position: fixed;
	top: 0;
	width: 100%;
}
header ul {
	padding-right: 15px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
header ul li {
	padding-left: 15px;
}
header img {
	height: 60px;
	padding-left: 5px;
}
header h3 {
	font-size: 30px;
	text-transform: uppercase;
}
footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bolder;
	background-color : #E86251;
}
main {
	margin-top: 60px;
	background-color : #444445;
}
main span {
	display: none;
}
#presentation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
}
#image_1 {
	min-width: 790px;
	width: 50%;
	height: 500px;
	background-image: url("img/Pro.jpg");
	background-position: top center;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}
#texte_1 {
	padding-left: 5px;
	padding-right: 5px;
	width: 50%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}
#texte_1 p {
	padding-top: 15px;
	padding-bottom: 15px;
}
#competence {
	background-color: #FFD177;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
}
#image_2 {
	min-width: 790px;
	margin-left: 0; 
	width: 50.5%;
	height: 500px;
	background-image: url("img/Competence.jpg");
	background-position: center center;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}
#texte_2 {
	width: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}
#texte_2 ul {
	list-style: none;
}
#texte_2 ul li {
	padding-bottom: 15px;
	padding-top: 15px;
}
#hobbie {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
}
#image_3 {
	min-width: 790px;
	width: 50%;
	height: 500px;
	background-image: url("img/Hobbie.jpg");
	background-position: center center;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}
#texte_3 {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 50%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#texte_3 p {
	padding-top: 15px;
	padding-bottom: 15px
}
.nomargin {
	margin: 0;
}




@media screen and (max-width: 1069px) {
	#presentation {
		flex-direction: column;
	}
	#image_1 {
		width: 100%;	
	}
	#competence {
		flex-direction: column;
	}
	#image_2 {
		width: 100%;	
	}
	#hobbie {
		flex-direction: column;
	}
	#image_3 {
		width: 100%;	
	}
}
@media screen and (max-width: 915px) {
	header img {
		padding: 0;
	}
	header ul {
		display: none;
	}
}
@media screen and (max-width: 644px) {
	header h3 {
		text-transform: none;
	}
}


